.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  width: 60%;
  border: none;
  background-color: rgb(252, 219, 252);
  border-radius: 10px;
  padding: 40px 40px;
  
}

html{
  background-color: hsl(72, 100%, 86%);

}
.Main{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 50px;
}

button{
  font-size: 20px;
  padding: 5px 5px;
  border: none;
  border-radius: 10px;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}

button:hover{
  background-color: hsl(0, 0%, 80%);
}

.add-button{
  background-color: hsl(120, 67%, 52%);
  color: white;
  font-style: bold;
  padding: 10px 15px;
}

.add-button:hover{
  background-color: hsl(120, 67%, 40%);
}

input{
  font-size: 20px;
  padding: 10px 5px;
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  margin: 0px 10px;
}

ol{
  padding: 0;
}

li{
  font-size: 18px;
  font-weight:lighter;
  padding: 15px;
  margin-bottom: 10px;
  background-color: hsl(187, 100%, 85%);
  border: 1px solid hsl(186, 18%, 55%);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

li:hover{
  background-color: hsl(187, 100%, 70%);
}

.text{
  flex-grow: 1;
  text-align: left;
}

.delete-task-button{
  padding: 5px 10px;
  padding-bottom: 7px;
}